<%- include('../partials/header') %>

<title>Admin</title>

<%- include('../partials/alerts')%>

<%- include('../partials/form1') %>

<h6 class="mb-0 pb-3"><span>Tread Carefully!!!!!!!</span></h6>

<%- include('../partials/form2') %>

<h4 class="mb-4 pb-3">Hallowed Grounds Ahead</h4>

<h6 class="mb-4 pb-3">Are You Here To See The CodeFather?</h6>

<%- include('../partials/secret') %>

<%- include('../partials/form3') %>

<%- include('../partials/form4') %>