<%- include('../partials/header')%>

<title>Sigani Associates</title>

<%- include('../partials/alerts')%>

<%- include('../partials/form1') %>

<h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up </span></h6>

<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>

<label for="reg-log"></label>

<%- include('../partials/form2') %>

<h4 class="mb-4 pb-3">Log In</h4>

<%- include('../partials/signin') %>

<%- include('../partials/form3') %>

<h4 class="mb-2 pb-1">Sign Up</h4>

<%- include('../partials/signup') %>

<%- include('../partials/form4') %>