<%- include('../partials/header') %>

<title>Reset Password</title>

<%- include('../partials/alerts')%>

<%- include('../partials/form1') %>

<h6 class="mb-0 pb-3"><span>Reset Password</span></h6>

<%- include('../partials/form2') %>

<h4 class="mb-4 pb-3">Reset Password</h4>

<h6 class="mb-4 pb-3">What is your new password?</h6>

<%- include('../partials/emailreset') %>

<%- include('../partials/form3') %>

<%- include('../partials/form4') %>